blanco_a = #ffffff

.Header-iconMenu 
	margin 0.3em 0.5em 0 0 
	position absolute
	right 0%
	top 0%
	z-index 100
	&Input
		display none
 
.Header-iconMenuLabel 
	background transparent
	cursor pointer
	display block
	height 40px
	position relative
	width 40px

/* Icono de cerrar */

.Header-iconMenuLabel:before,
.Header-iconMenuInput:checked + label:before
	background blanco_a
	border-radius 2px
	content ''
	height 4px
	margin-top -2px
	position absolute
	top 50%
	width 40px

.Header-iconMenuLabel:before
	animation animationOneReverse 1s ease forwards


@keyframes animationOneReverse
	0% { transform: rotate(315deg); }
	25% { transform: rotate(360deg); }
	50%, 100% { transform: rotate(0deg); }


.Header-iconMenuInput:checked + label:before 
	animation animationOne 1s ease forwards

@keyframes animationOne 
	0%, 50% { transform: rotate(0deg); }
	75% { transform: rotate(360deg); }
	100% { transform: rotate(315deg); }

.Header-iconMenuLabel:after,
.Header-iconMenuInput:checked + label:after
	background blanco_a
	border-radius 2px
	content ''
	height 4px
	margin-top -2px
	position absolute
	top 50%
	width 40px

.Header-iconMenuLabel:after 
	animation animationTwoReverse 1s ease forwards

@keyframes animationTwoReverse
	0% { transform: rotate(405deg); }
	25% { transform: rotate(450deg); }
	50%, 100% { transform: rotate(0deg); }

.Header-iconMenuInput:checked + label:after 
	animation animationTwo 1s ease forwards

@keyframes animationTwo
	0%, 50% { transform: rotate(0deg); }
	75% { transform: rotate(450deg); }
	100% { transform: rotate(405deg); }

/* Icono hamburguesa */

.Header-iconMenuLabel .burger:before
	animation animationBurgerTopReverse 1s ease forwards
	background blanco_a
	border-radius 2px
	content ''
	height 4px
	position absolute
	top 6px
	width 40px

@keyframes animationBurgerTopReverse
	0%, 50% { transform: translateY(12px); opacity: 0; }
	51% { transform: translateY(12px); opacity: 1; }
	100% { transform: translateY(0px); opacity: 1; }

.Header-iconMenuInput:checked + label .burger:before
	animation animationBurgerTop 1s ease forwards

@keyframes animationBurgerTop
	0% { transform: translateY(0px); opacity: 1; }
	50% { transform: translateY(12px); opacity: 1; }
	51%, 100% { transform: translateY(12px); opacity: 0; }

.Header-iconMenuLabel .burger:after
	animation animationBurgerBottomReverse 1s ease forwards
	background blanco_a
	border-radius 2px
	bottom 6px
	content ''
	height 4px
	position absolute
	width 40px

@keyframes animationBurgerBottomReverse
	0%, 50% { transform: translateY(-12px); opacity: 0; }
	51% { transform: translateY(-12px); opacity: 1; }
	100% { transform: translateY(0px); opacity: 1; }

.Header-iconMenuInput:checked + label .burger:after
	animation animationBurgerBottom 1s ease forwards

@keyframes animationBurgerBottom
	0% { transform: translateY(0px); opacity: 1; }
	50% { transform: translateY(-12px); opacity: 1; }
	51%, 100% { transform: translateY(-12px); opacity: 0; }