blanco_a = #ffffff
blanco_b = #F4F1F1
gris_a = #535353
gris_b = #686767
gris_c = #E7E7E7
gris_trasparente = rgba(0, 0, 0, .2)
verde_a = #009999
verde_trasnparente = rgba(0, 153, 153, .5)
naranja_a = #FF6633

.SearchNone
	color gris_b
	margin 0 auto
	max-width 600px
	text-align center
	&-face
		font-size 5.5em
		margin 0.5em 0
		text-shadow 0px 1px 3px verde_a
	&-info
		margin 0 0.45em
		font-family: 'Lato', sans-serif;